@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (User.Identity != null && User.Identity.IsAuthenticated && Model.User_ != null)
    {
        <p> Welcome to Image Guesser </p>

        <div class="d-flex justify-content-evenly">
            <form method="post" asp-page-handler="CreateSession">
                <input name="Id" value="@Model.SessionId" hidden>
                <button type="submit" class="btn btn-success" id="createSession" session-Id="@Model.SessionId"
                    user-Id="@Model.User_.Id"> Create a Lobby </button>
            </form>

            <a class="btn btn-primary" asp-page="/Lobby/SessionList"> View available Lobbies </a>
        </div>


        <p> *Future Leaderboards* </p>

    }
    else
    {

        <h1 class="display-4">Welcome</h1>
        <p>Image Guesser is about guessing the name of an image while only viewing parts of the image.</p>

    }
</div>

@section Scripts {
    <script type="module" src="~/js/Index.js"></script>
}